.title {
    color: magenta;
}

.board {
}

.tictactoebutton {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: cornsilk;
    font-size: 50px;
}

.head {
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman';
}