.title {
    color: background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(darkred));
    background-image: -webkit-linear-gradient(top, red, darkred);
    background-image: -moz-linear-gradient(top, red, darkred);
    background-image: linear-gradient(to bottom, red, darkred);;
    text-align: center;
    font-size: 50px;
}

.board {
}

.tictactoebutton {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: cornsilk;
    font-size: 50px;
}

.head {
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman';
}

.body {
    background-color: lightslategray;
    text-align: center;
}

.button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(blue));
    background-image: -webkit-linear-gradient(top, lightgrey, blue);
    background-image: -moz-linear-gradient(top, lightgrey, blue);
    background-image: linear-gradient(to bottom, lightgrey, blue);
    height: 45px;
    width: 200px;
    font-size: 25px;
    font-family: Times;
    font-weight: bold;
}